.header{
    font-weight: bold;
    font-style: italic;
}

.descripcion{
    font-size: 1.2em;
}

.footer1{
    background-color: grey;
    text-align: center;
    color: antiquewhite;
}

.header2{
    font-weight: bold;
    color: lime;
}

.acrobacia1{
font-weight: bold;
color: lime;
}

.acrobacia2{
font-style: italic;
font-family: papyrus;
color: green;
text-align: justify;
}

.footerpag1{
    background-color: grey;
    text-align: center;
    color: antiquewhite;
}

.header3{
    font-weight: bold;
    color: blue;
}

.vuelosinmotor{
    font-weight: bold;
    color: blue;
}

.texto1{
    font-style: italic;
    font-family: papyrus;
    text-align: left;
    color: darkblue;
}

.texto2{
    font-style: italic;
    font-family: papyrus;
    color: darkblue;
    text-align: justify;
}

.footerpag2{
    background-color: grey;
    text-align: center;
    color: antiquewhite;
}
